.drum {
    /* background-color: #eee; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh;
    padding: 10px; */
}

.board {
    height: 300px;
    width: 300px;
    position: relative;
    display: grid;
    place-items: center;
    background-color: #191919;
    overflow: hidden;
    border-radius: 10px;
}

.board::before {
    content: '';
    width: 120px;
    height: 600px;
    left: 60px;
    top: -120px;
    background: linear-gradient(#00e5ff, #b400fb);
    position: absolute;
    animation: animate 5s linear infinite;
}

.board::after {
    content: '';
    position: absolute;
    background: #191919;
    inset: 5px;
    border-radius: 5px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}